body, html, div, ul, li, span {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}

#logo {
    position: absolute;
    width: 180px;
    height: 37px;
    top: 0;
    left: 0;
    background: url('../images/frame2/yonghudenglu.png') 35px 10px no-repeat;
    background-color: #143752;
    padding: 18px 0 0 80px;
    color: #fff;
    float: left;
}

#head {
    position: absolute;
    top: 0;
    left: 260px;
    height: 50px;
    right: 0;
    background-color: #0084cf;
    padding: 5px 0 0 15px;
    border-bottom: 3px solid #143752;
    color: #fff;
}

#operationZone {
    position: absolute;
    top: 20px;
    right: 10px;
    height: 36px;
    width: 400px;
}

#searchPane {
    float: left;
    /*position: absolute;
    top: 20px;
    right: 140px;
    height:26px;
    width:200px;
    background-color:orange;*/
}

#head ul {
    float: right;
    /*position:absolute;
        right:20px;
        top:20px;*/
    padding: 0;
    list-style: none;
}

    #head ul li {
        margin: 0 9px 0 0;
        padding: 0;
        width: 25px;
        height: 22px;
        display: block;
        list-style: none;
        float: left;
    }

#head li.home {
    background: url('../images/frame2/xttb.png') 0 0;
}

    #head li.home:hover {
        background: url('../images/frame2/xttb_a.png') 0 0;
        cursor: pointer;
    }

#head li.me {
    background: url('../images/frame2/xttb.png') -36px 0;
}

    #head li.me:hover {
        background: url('../images/frame2/xttb_a.png') -36px 0;
        cursor: pointer;
    }

#head li.settings {
    background: url('../images/frame2/xttb.png') -72px 0;
}

    #head li.settings:hover {
        background: url('../images/frame2/xttb_a.png') -72px 0;
        cursor: pointer;
    }

#head li.logoff {
    background: url('../images/frame2/xttb.png') -108px 0;
    margin-right: 5px;
}

    #head li.logoff:hover {
        background: url('../images/frame2/xttb_a.png') -108px 0;
        cursor: pointer;
    }

#productSubName {
    margin-top: 3px;
    font-weight: bold;
    font-size: 17px;
}

#functionBar {
    position: absolute;
    width: 248px;
    top: 55px;
    bottom: 0;
    left: 0;
    padding: 4px 6px 0 6px;
    background-color: #143752;
}

    #functionBar ul.tiles {
        list-style: none;
        display: block;
        max-height: 340px;
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        /*以下是IE的效果*/
        scrollbar-arrow-color: #143752; /*三角箭头的颜色*/
        scrollbar-face-color: #143752; /*立体滚动条的颜色*/
        scrollbar-3dlight-color: #143752; /*立体滚动条亮边的颜色*/
        scrollbar-highlight-color: #143752; /*滚动条空白部分的颜色*/
        scrollbar-shadow-color: #143752; /*立体滚动条阴影的颜色*/
        scrollbar-darkshadow-color: #143752; /*立体滚动条强阴影的颜色*/
        scrollbar-track-color: #143752; /*立体滚动条背景颜色*/
        scrollbar-base-color: #143752; /*滚动条的基本颜色*/
    }

::-webkit-scrollbar-track-piece {
    background-color: #143752;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #143752;
}

#functionBar ul.tiles li {
    list-style: none;
    height: 70px;
    color: #fff;
    background: url('../images/frame2/ty_yewu.png') center 10px no-repeat;
    margin: 0 0 6px 0;
    float: left;
}

#functionBar ul.tiles .t1 {
    width: 90px;
    background-color: #0072c6;
    margin-right: 8px;
}

#functionBar ul.tiles .t2 {
    width: 150px;
    background: url('../images/frame2/ty_yewu.png') center 10px no-repeat;
    background-color: #0b94c1;
}

#functionBar ul.tiles .t3 {
    width: 248px;
    background-color: #008299;
}

#functionBar ul.tiles .t4 {
    width: 115px;
    background-color: #5133ab;
    margin-right: 8px;
}

#functionBar ul.tiles .t5 {
    background-color: #ac193d;
    width: 125px;
}

#functionBar ul.tiles .t6 {
    width: 248px;
    background-color: #1d802f;
}

#functionBar ul.tiles .active, #functionBar ul .t1:hover, #functionBar ul .t2:hover, #functionBar ul .t3:hover, #functionBar ul .t4:hover, #functionBar ul .t5:hover, #functionBar ul .t6:hover {
    background-color: #0cbdfa;
    color: red;
    cursor: pointer;
}

#functionBar ul.tiles li span {
    display: inline-block;
    margin: 47px 0 0 10px;
    width: 80%;
    text-wrap: none;
    text-overflow: ellipsis;
}

#functionBar .menuTree {
    min-height: 30px;
    margin: 3px 0 0 0;
    display: none;
    overflow:hidden;
    overflow-y:auto;
    background-color: #0cbdfa;
<<<<<<< .mine
    overflow-x:hidden;
    overflow-y:auto;
    scrollbar-arrow-color: #fff; /*三角箭头的颜色*/
    scrollbar-face-color: #0cbdfa; /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #0cbdfa; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #0cbdfa; /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #0cbdfa; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #0cbdfa; /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #0cbdfa; /*立体滚动条背景颜色*/
    scrollbar-base-color: #0cbdfa; /*滚动条的基本颜色*/
=======
    scrollbar-arrow-color: #fff; /*三角箭头的颜色*/
    scrollbar-face-color: #0cbdfa; /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #0cbdfa; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #0cbdfa; /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #0cbdfa; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #0cbdfa; /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #0cbdfa; /*立体滚动条背景颜色*/
    scrollbar-base-color: #0cbdfa; /*滚动条的基本颜色*/
>>>>>>> .r326
}

#functionBar .hideFunctionBar {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 58px;
    height: 59px;
    background-image: url('../images/frame2/caidan_shouqi.png');
}

    #functionBar .hideFunctionBar:hover {
        background-image: url('../images/frame2/caidan_shouqi_a.png');
    }

#main .showFunctionBar {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58px;
    height: 59px;
    background-image: url('../images/frame2/caidan_zhankai.png');
}

    #main .showFunctionBar:hover {
        background-image: url('../images/frame2/caidan_zhankai_a.png');
    }

#main {
    position: absolute;
    top: 58px;
    left: 260px;
    right: 0;
    bottom: 0;
    border-top: 1px solid #0084cf;
    background-color: #fff;
}

#mainPane {
    padding: 0;
    height: 100%;
}

#welcome {
    height: 600px;
    width: 100%;
    background: url('../Images/welcome_pic.jpg') no-repeat;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
}