
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

li {
    list-style-type: none;
}

img {
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    outline: none;
    font-size: 15px;
}

.ce {
    display: block;
    width: 120px;
    background: #172f58;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

}

.ce li {
    border-top: 1px solid #544f4f;

}

.more {
    margin-left: 3px;
}

.ce li a {
    padding: 10px 0 10px 3px;
    color: white;
    display: block;
    cursor: pointer;

}

.ce li a:hover {
    background: no-repeat 10px center #001a45;

}

.er {
    display: none;
    width: 120px;
    background: #555;

}

.er li {
    width: 100%;
    border: solid #fee;
    border-width: 1px 0 0;

}

.er li a {
    display: block;
    padding: 10px -10px 10px 20px;
    color: white;
    background: none;
    font-size: 12px;
}