*{
    margin: 0;
    padding: 0;
}

.indexBox{
    width: 200px;
    height: 60px;
    border: 1px solid #c1c1c1;
    font-size: 14px;
}


.downZone li{
    float: left;
    list-style: none;
    margin-left: 9px;
}

.downZone img{
    margin-left: 4px;
}