section{
    border: solid 1px #666;
}

section section{
    margin-left: 9px;
    margin-top: 9px;
    text-align: center;
    width: 950px;
    }

.mainFlex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 620px;
    width: 1400px;
}

.jsonList{
    height: 580px;
    width: 370px;
}

.choseTab{
    height: 40px;
}

.map{
    height: 550px;
}