.main {
    margin: 0 0;
    color: #ffffff;
    /*background: #2C2C43;*/
}

.numrun {
    width: 350px;
    margin: 5px auto;
}

.title {
    height: 30px;
    line-height: 30px;
    width: 300px;
    margin: 5px auto;
    font-size: 16px;
    font-family: 'Yuanti SC', HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', '微软雅黑', Helvetica, Arial, "Lucida Grande", sans-serif;
}

    .title span {
        font-size: 15px;
    }

.time {
    height: 30px;
    line-height: 30px;
    font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', '微软雅黑', Helvetica, Arial, "Lucida Grande", sans-serif;
}

    .time:before {
        content: url(../Images/RunNumber/ico_time.png);
        margin-left: 12px;
        margin-right: 5px;
        vertical-align: middle;
    }

.numrun span {
    width: 350px;
    height: 60px;
    display: block;
    overflow: hidden;
}

    .numrun span i {
        font-size: 60px;
        line-height: 60px;
        font-family: Arial;
        font-style: normal;
        float: left;
        display: block;
        position: relative;
        word-break: break-all;
        word-wrap: break-word;
        width: 34px;
    }

    .numrun span b {
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 50px;
        text-align: center;
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Microsoft YaHei', '微软雅黑', Helvetica, Arial, "Lucida Grande", sans-serif;
        /*margin-top: 30px;*/
    }
