.mainPage{
    margin: 0;
    padding: 0;
}

.outlierToolbar{
    width: 100%;
    height: auto;
    /*background-color: #faa;*/
}

.echartLine{
    margin-top: 10px;
    width: 100%;
    height: 350px;
    border: 1px solid #c1c1c1;
}

.eight{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #c1c1c1;
}

.echartEight{
    height: 350px;
    /*background-color: #afa;*/
}

.tableEight{
    height: auto;
    margin: 10px auto;

}

.table{
    text-align: center;
}

.th{
    background-color: #2a83fe;
    color: #fff;
}
.ax_default{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
}

input{
    width:66px;
}
#btn1{
    background-color: #0e6fc4;
    color: #fff;
}

#btn2{
    background-color: #2fc486;
    color: #fff;
}

#btn3{
    background-color: #2a83fe;
    color: #fff;
    float: right;
}